osf_files/

Python/rclone-ignore.txt

Python/.venv/
Python/output/

Python/scripts/dump/
Python/output/heatmaps/

.Rproj.user

R/config.R
R/run_pipeline.R
R/.Rhistory
R/.Rprofile
R/index.qmd

R/doc/rendu_pdf.pdf
R/doc/rendu_quarto.html
R/doc/rendu_quarto.qmd
R/output/
R/.Rproj.user/
R/scripts/.Rhistory

R/renv/library/
R/renv/staging/
R/renv/local/
R/scripts/dump/



