osf_files/

Python/output/
Python/.venv/
Python/rclone-ignore.txt
Python/scripts/.vscode/
Python/scripts/scripts.code-workspace

R/output/
R/renv/library/
R/scripts/dump/
R/.Rproj.user/
R/.Rhistory
R/.Rprofile
.Rproj.user
