# Root

osf_files/

# Python

Python/rclone-ignore.txt

Python/output/
Python/.venv/
Python/scripts/gaze_data_retrieval.py

Python/scripts/dump/

# R

.Rproj.user

R/config.R
R/run_pipeline.R
R/.Rhistory
R/.Rprofile

R/doc/
R/.Rproj.user/
R/scripts/.Rhistory

R/renv/library/
R/renv/staging/
R/renv/local/
R/scripts/dump/



